<div class="container">
    <h1>{{title}}</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <my-reefmaps></my-reefmaps>
            <my-reeftable></my-reeftable>
        </div>
        <div class="col-sm-3">
            <my-reefzone></my-reefzone>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <my-reefgraphs></my-reefgraphs>
            <my-reefcomments></my-reefcomments>
        </div>
    </div>
</div>