table {
    border-collapse: collapse;
}

table, td, tr, th {
    border: 1px solid black;
}

th {
    background-color: lightgray;
}

.low-cover {
    background-color: red;
}

.moderate-cover {
    background-color: orange;
}

.high-cover {
    background-color: yellow;
}

.very-cover {
    background-color: greenyellow;
}

.extreme-cover {
    background-color: limegreen;
}

.no-data {
    background-color: lightgray;
}